<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!--  namespace: context에 체크 -->
	<context:component-scan base-package="com.test03">  
	<!-- test03 하위의 모든 클래스들을 component-scan 하겠다. = 검색하겠다. 
	검색해서 @ C omponent 들을 다 Bean으로 등록해줌 -->
	</context:component-scan>
	
</beans>












